.Orange {
    color: orange;
}

.focus {

    font-size: 45px;
}

.First-Section {
    display: flex;
    margin-bottom: 175px;
}

.first-Div {
    width: 50%;
    margin-left: 20px;
}

.first-Div img {
    width: 55%;
    margin-left: 75px;
}

.vl {
    border-left: 4px solid olive;
    height: 85px;
    margin-top: 106px;
    position: absolute;
    left: 28px;

}

.Link-botton {
    text-decoration: none;
    background-image: linear-gradient(red, salmon);
    padding: 10px 40px;
    border-radius: 10px;
    font-style: italic;
    font-weight: 800;
    color: whitesmoke;
}

.shadow-desing {
    width: 33.99%;
    box-shadow: 20px 20px 40px rgb(145, 34, 34);
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    border-radius: 20px;

}

.side-bar {
    margin-left: 10%;
    margin-right: 10%;
}

.Background-for {

    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 5% 20%;


}